dist/
.DS_Store
export_test.csv
folsum.code-workspace
folsum/test_dir/*
*folsum_export.csv
output.log
.rust-analyzer.toml
target
.vscode/
xtask/website/public/
*.deb
*.exe
*.zip
**/hide_me/**

xtask/docker/package_deb_x86_64.Dockerfile
xtask/docker/package_deb_aarch64.Dockerfile
