{% macro download_button_javascript() %}
    <script>
        async function fetchLatestRelease() {
            const latest_release_api_url = "{{ config.extra.latest_release_api_url | safe }}";
            const response = await fetch(latest_release_api_url);
            const data = await response.json();
            return data;
        }

        function detectPlatform() {
            const userAgent = navigator.userAgent.toLowerCase();
            if (userAgent.includes('mac')) {
                return { platform: 'darwin', buttonText: 'Download for macOS', supportStatus: 'supported' };
            } else if (userAgent.includes('win')) {
                return { platform: 'win32', buttonText: 'Download for Windows', supportStatus: 'unsupported' };
            }
            return { platform: null, buttonText: '😢 Sorry, your platform isn\'t supported (yet)', supportStatus: 'unsupported'};
        }

        async function setupDownloadButton() {
            const { platform, buttonText, supportStatus } = detectPlatform();
            const downloadButton = document.getElementById('download-button');
            downloadButton.textContent = buttonText;
            downloadButton.classList = supportStatus;

            if (platform) {
                const release = await fetchLatestRelease();
                const downloadUrl = release.assets.find(asset =>
                    (platform === 'darwin' && asset.name.includes('macos-universal')) ||
                    (platform === 'win32' && asset.name.includes('windows_gnu_x86_64'))
                )?.browser_download_url;

                if (downloadUrl) {
                    downloadButton.onclick = () => {
                        window.location.href = downloadUrl;
                    };
                } else {
                    downloadButton.textContent = 'No Download Available';
                    downloadButton.disabled = true;
                }
            } else {
                downloadButton.disabled = true;
            }
        }

        setupDownloadButton();
    </script>
{% endmacro add_download_button %}
