{% macro add_download_button() %}
    <h1>Download our latest release</h1>
    <button id="download-button">Download</button>

    <!-- Place your script just before the closing </body> tag -->
    <script>
        async function fetchLatestRelease() {
            const latest_release_api_url = "{{ config.extra.latest_release_api_url | safe }}";
            const response = await fetch(latest_release_api_url);
            const data = await response.json();
            return data;
        }

        function detectPlatform() {
            const userAgent = navigator.userAgent.toLowerCase();
            if (userAgent.includes('mac')) {
                return { platform: 'darwin', buttonText: 'Download for macOS' };
            } else if (userAgent.includes('win')) {
                return { platform: 'win32', buttonText: 'Download for Windows' };
            }
            return { platform: null, buttonText: 'Unsupported Platform' };
        }

        async function setupDownloadButton() {
            const { platform, buttonText } = detectPlatform();
            const downloadButton = document.getElementById('download-button');
            downloadButton.textContent = buttonText;

            if (platform) {
                const release = await fetchLatestRelease();
                const downloadUrl = release.assets.find(asset =>
                    (platform === 'darwin' && asset.name.includes('macos-universal')) ||
                    (platform === 'win32' && asset.name.includes('windows_gnu_x86_64'))
                )?.browser_download_url;

                if (downloadUrl) {
                    downloadButton.onclick = () => {
                        window.location.href = downloadUrl;
                    };
                } else {
                    downloadButton.textContent = 'No Download Available';
                    downloadButton.disabled = true;
                }
            } else {
                downloadButton.disabled = true;
            }
        }

        setupDownloadButton();
    </script>
{% endmacro add_download_button %}
